.App {
  text-align: center;
}

.wrap-calculator {
  border: 2px solid wheat;
  background: #34495e;
  width: 300px;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-calculator .row .button-container {

  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid wheat;
}

.wrap-calculator .row .operator {
  background: #7899b3;
}

.input {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.button-clear {
  display: flex;
  flex: 1;
  background: #a2738c;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
}